* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, var(--blue) 0%, var(--purple) 100%);
}

section {
    margin: 0px 8px 0px 8px;
}